<!DOCTYPE html>
<html>
  <head>
    <title>WVU Pattern Library - Masthead Module Test</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    {{> _wvu-search}}
  </body>
</html>
