<!DOCTYPE html>
<html>
  <head>
    <title>WVU Pattern Library - Masthead Module Test</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>

    <!-- TODO: Apply the search on multiple color backgounds? -->
    <div class="test-background-blue">
      {{> _wvu-search}}
    </div>

    <div class="test-background-gold">
      {{> _wvu-search}}
    </div>

  </body>
</html>
