<form class="wvu-search" action="{{wvu_config.wvu_search.url}}" method="get" role="search">

  <label class="wvu-search__label" for="q">
    <span class="wvu-search__label-text">Search</span>
    <input id="q" class="wvu-search__field" name="q" maxlength="256" placeholder="Search this site..." type="search" />
  </label>

  <input id="sort" name="sort" type="hidden" value="date:D:L:d1" />
  <input id="output" name="output" type="hidden" value="xml_no_dtd" />
  <input id="ie" name="ie" type="hidden" value="UTF-8" />
  <input id="oe" name="oe" type="hidden" value="UTF-8" />
  <input id="proxystylesheet" name="proxystylesheet" type="hidden" value="default_frontend" />
  <input id="client" name="client" type="hidden" value="default_frontend" />
  <input class="wvu-search__submit" name="btnG" type="submit" value="Search" />

  <div class="wvu-search__search-type">
    <input id="wvu-search__sitesearch" type="radio" name="as_sitesearch" value="{{wvu_config.domain}}" checked="true" />
    <label for="wvu-search__sitesearch">Search this site</label>
    <input id="wvu-search__wvusearch" type="radio" name="as_sitesearch" value="{{#wvu_config.wvu_tech}}wvutech.edu{{/wvu_config.wvu_tech}}{{^wvu_config.wvu_tech}}wvu.edu{{/wvu_config.wvu_tech}}" />
    <label for="wvu-search__wvusearch">
      {{#wvu_config.wvu_tech}}
      Search WVU Tech
      {{/wvu_config.wvu_tech}}
      {{^wvu_config.wvu_tech}}
      Search WVU
      {{#wvu_config.wvu_tech}}
    </label>
  </div>

</form>
