// Default Variable Overrides
// =================================================
$wvu-masthead-background: 'gold';

// Include Manifest
// =================================================
@import './src/scss/manifest';


// Test Styles
// =================================================
.test-background-blue {
  background-color: $wvu-blue;
}

.test-background-gold {
  background-color: $wvu-gold;
}
